@using SprintEvaluationProjectCropDeal.Models
@model Farmer

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-danger">Delete Farmer</h2>
            <hr />
        </div>

        <input asp-for="FarmerId" type="hidden" />

        <div class="mb-3 row p-1">
            <label asp-for="FarmerName" class="p-0"></label>
            <input asp-for="FarmerName" class="form-control" readonly />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="EmailAddressFarmer" class="p-0"></label>
            <input asp-for="EmailAddressFarmer" class="form-control" readonly />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerPhoneNumber" class="p-0"></label>
            <input asp-for="FarmerPhoneNumber" class="form-control" readonly />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerAadharNumber" class="p-0"></label>
            <input asp-for="FarmerAadharNumber" class="form-control" readonly />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerBankAccount" class="p-0"></label>
            <input asp-for="FarmerBankAccount" class="form-control" readonly />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerIFSCCode" class="p-0"></label>
            <input asp-for="FarmerIFSCCode" class="form-control" readonly />
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="IsFarmerIdActive" class="p-0"></label>
            <input asp-for="IsFarmerIdActive" class="form-check-input" type="checkbox" disabled />
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-danger form-control">Delete</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Farmer" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Cancel
                </a>
            </div>
        </div>
    </div>
</form>