@using SprintEvaluationProjectCropDeal.Models
@model Farmer


<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Edit Farmer</h2>
            <hr />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <input asp-for="FarmerId" type="hidden" />

        <div class="mb-3 row p-1">
            <label asp-for="FarmerName" class="p-0"></label>
            <input asp-for="FarmerName" class="form-control" />
            <span asp-validation-for="FarmerName" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="EmailAddressFarmer" class="p-0"></label>
            <input asp-for="EmailAddressFarmer" class="form-control" />
            <span asp-validation-for="EmailAddressFarmer" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerPhoneNumber" class="p-0"></label>
            <input asp-for="FarmerPhoneNumber" class="form-control" />
            <span asp-validation-for="FarmerPhoneNumber" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerAadharNumber" class="p-0"></label>
            <input asp-for="FarmerAadharNumber" class="form-control" />
            <span asp-validation-for="FarmerAadharNumber" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerBankAccount" class="p-0"></label>
            <input asp-for="FarmerBankAccount" class="form-control" />
            <span asp-validation-for="FarmerBankAccount" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerIFSCCode" class="p-0"></label>
            <input asp-for="FarmerIFSCCode" class="form-control" />
            <span asp-validation-for="FarmerIFSCCode" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="IsFarmerIdActive" class="p-0"></label>
            <input asp-for="IsFarmerIdActive" class="form-check-input" type="checkbox" />
            <span asp-validation-for="IsFarmerIdActive" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Update</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Farmer" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}