@using SprintEvaluationProjectCropDeal.Models
@model Crops

<form method="post">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Add Crop Details</h2>
            <hr />
        </div>

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="mb-3 row p-1">
            <label asp-for="CropType" class="p-0"></label>
            <input asp-for="CropType" class="form-control" />
            <span asp-validation-for="CropType" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="CropName" class="p-0"></label>
            <input asp-for="CropName" class="form-control" />
            <span asp-validation-for="CropName" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="QuantityInKg" class="p-0"></label>
            <input asp-for="QuantityInKg" class="form-control" />
            <span asp-validation-for="QuantityInKg" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="Location" class="p-0"></label>
            <input asp-for="Location" class="form-control" />
            <span asp-validation-for="Location" class="text-danger"></span>
        </div>

        <div class="mb-3 row p-1">
            <label asp-for="FarmerId" class="p-0"></label>
            <input asp-for="FarmerId" class="form-control" />
            <span asp-validation-for="FarmerId" class="text-danger"></span>
        </div>

        <div class="row">
            <div class="col-6 col-md-3">
                <button type="submit" class="btn btn-primary form-control">Create</button>
            </div>
            <div class="col-6 col-md-3">
                <a asp-controller="Crops" asp-action="Index" class="btn btn-outline-secondary border form-control">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}